/* Genel stil */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    /* Yukarı kaydırma */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Gölgelendirme */
}


/* Buton stili */

.service-button {
    background-color: transparent;
    color: #333;
    border: 2px solid #f8f8f8;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    /* Yumuşak geçiş */
    margin-top: 10px;
    border-radius: 5px;
}


/* Buton hover etkisi - Altın Işık Efekti ve Renkli Kenarlık Efekti */

.service-button:hover {
    background-color: #ffd700;
    /* Altın rengi */
    border-color: #ffd700;
    /* Altın rengi kenarlık */
    color: #fff;
    /* Yazı rengi beyaz */
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.5);
    /* Altın ışık efekti */
}


/* Aktif durumda altın ışık efekti */

.service-button.active {
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.5);
    /* Altın ışık efekti */
    border-color: #ffd700;
    /* Altın rengi kenarlık */
}