body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

.container {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}